body{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
}
#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
}
#title{
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
#img-div{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
}
#image {
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
}